.concept {
    background-color: rgb(40, 13, 65);
    width: fit-content;
    padding: 0.4rem;
    margin-bottom: 1rem;
    border-radius: 10px 0 10px 0;
}

h1 {
    color: rgb(212, 217, 229);
    letter-spacing: 0.5em;
}