@page "/"
@using BlazorApp.Components.Layout

<PageTitle>Home</PageTitle>

<SectionTitle title="Home" />

Welcome to my new app.

<div class="boxes">
    <section></section>
    <section></section>
</div>

<Counter IncrementAmount="10" />
